<div class="px-4 sm:px-6 lg:px-8">
  <div class="sm:flex sm:items-center">
    <div class="sm:flex-auto">
      <h1 class="text-xl font-semibold text-gray-900 bg-gray-300 p-2">Audio / Microphones</h1>
    </div>
  </div>
  <div class="mt-4 pl-4 py-2 ring-1 ring-gray-300 sm:-mx-6 md:mx-0 md:rounded-lg">
    <div>
      Ceiling Mic - <%= ceiling_mic(room) %>
    </div>
    <div>
      WL Mic - <%= wl_mic(room) %>
    </div>
    <div>
     Volume - <%= wl_mic_volume(room) %>
    </div>
  </div>

</div>