<div id="<%= dom_id room %>">
  

  <div>
    <%= render 'systems', { devices: get_room_asset_devices(room), room_device: get_room_device(room) } %>
  </div>
  <div>
    <%= render 'audio' %>
  </div>
</div>
