<div class="text-xs px-2">
  <% devices.all.each do |device| %>
    <%= device.name %>
    <%# device.device_states.each do |state| %>
    <% DeviceState.where(device_id: device.id).select(:key, :value, 'MAX(created_at)').group(:key).each do |state| %>
      <div>
        <%= "#{state.key} - #{state.value}" %>
      </div>
    <% end %>
    <hr>
  <% end %>
<div>