<div class="text-xs px-2">
  <% DeviceState.where(device_id: device.id).select(:key, :value, 'MAX(created_at)').group(:key).each do |state| %>
    <div>
      <%= "#{state.key} - #{state.value}" %>
    </div>
  <% end %>
<div>
